<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>提醒!</strong> 請登入才能使用餐廳清單。
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>